<br>
<center><%= link_to "Create Game", new_game_path%></center><br>

<h2>Game List</h2>
<br>
<table align="center">
  <tr>
    <th>Game Name:</th>
    <th>Game Date:</th>
    <th>Home Team Score:</th>
    <th>Opposing Team Score:</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
    <% @game.each do |g| %>
      <tr id="<%=g.id%>">
        <td><%= g.name %></td>
        <td><%= g.game_date %></td>
        <td><center><%= g.home_score %></center></td>
        <td><center><%= g.visitor_score %></center></td>
        <td><a href="/games/<%= g.id %>/edit"><img src="/assets/edit-button.png"></a></td>
        <td><%= link_to game_path(g.id), remote: true, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <%= image_tag("/assets/remove-file.png") %>
          <% end %></td>
          </tr>
        <% end %>
      </table>
