<div>
  <br><h1>Edit Player</h1><br>
  <div class="grid-container">
    <div></div>
    <div class="card container" align="center">
  <%= form_for(@player) do |c|%>
    <h3>First Name:</h3>
    <%= c.text_field :first_name, placeholder: "First Name" %><br>

    <h3>Last Name:</h3>
    <%= c.text_field :last_name, placeholder: "Last Name" %><br>

    <h3>Email:</h3>
    <%= c.email_field :email, placeholder: "Email"%><br>

    <h3>Password:</h3>
    <%= c.password_field :password, placeholder: "minimum of 8 characters" %><br>

    <h3>Re-enter Password:</h3>
    <%= c.password_field :password_confirmation, placeholder: "enter password again"%><br><br>

    <%= c.submit 'Edit Player' %><br>
    <br>
</div>
<div></div>
</div>
</div>
<% end %>
